CLOUD_NAME=your_cloud_name
API_KEY=your_api_key
API_SECRET=your_api_secret
MONGODB_URL="your_mongo_db_url"
PORT=port_number

MAIL_HOST=smtp.gmail.com
MAIL_USER=your_email@example.com
MAIL_PASS=your_mail_password