*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    color: red;
}

button{
    all: unset;
}


.tab.active-tab{
    background: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
    background: red;
}

.grant-location-container,
.search-form-container,
.loading-screen-container,
.weather-info-container{
    display: none;
}

.active{
    display: block;
}