*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 15rem;
    height: 5rem;
    font-family: serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: rgb(210, 66, 66);
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

button::before{
    content: "Hire me";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

button::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-102%);
    transition: transform 1s;
    z-index: 1;
}

button:hover::after{
    transform: translateX(0%);
}