*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: inherit;
}

h1{
    color: red;
}