:root{
    /* --primaryColor : #344151;
    --secondaryColor : #0398d4;
    --white : #fff; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: inherit;
}

.wrapper{
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}


.card{
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border: 0.2rem solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    position: relative;
    z-index: 100;
}

.card img{
    width: 15rem;
    height: 15rem;
}

.card .buttons-group{
    display: flex;
    gap: 1rem;
}

.card .buttons-group button{
    width: 15rem;
    border: 0.1rem solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 0.5rem;
    padding: 1rem 0;
    transition: all 0.5s ease;
}

.card .buttons-group #share_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .buttons-group #share_btn i{
    padding-right: 0.5rem;
}

.card .buttons-group button:hover{
    color: #000;
    background: #fff;
}


/* /////////// modal body // */
.profile-modal{
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border: 0.2rem solid rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)  scale(0);
    /* transform: scale(0); */
    transition: all 0.4s ease;
    z-index: 100;
    /* position: relative; */
}



.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid #fff;
    font-size: 3rem;
}

.modal-header h2{
    
}

.modal-body h3{
    margin: 2rem 0;
}

.social-icons{
    display: flex;
    gap: 3rem;
}

.social-icons a{
    border: 1px solid #fff;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

/* /// overlay /// */
.overlay{
    position: fixed;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(120, 120, 120, 0.6);
    /* opacity: 0; */
    visibility: hidden;
    z-index: 10;
}

/* /// circles //// */
.red-circle{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background: rgb(255, 104, 70);
    position: fixed;
    top: 6%;
    left: 31%;
    box-shadow: 0px 0px 40px rgb(255, 104, 70);
    animation: redCircle 4s ease infinite alternate;
}

.blue-circle{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background: rgb(138, 70, 255);
    position: fixed;
    bottom: 6%;
    left: 50%;
    box-shadow: 0px 0px 40px rgb(138, 70, 255);
    animation: blueCircle 4s ease infinite alternate;

}

@keyframes redCircle{
    0%{
        top: 6%;
        left: 31%;
    }
    100%{
        top: 4%;
        left: 33%;
    }
}

@keyframes blueCircle{
    0%{
        bottom: 6%;
        left: 50%;
    }
    100%{
        bottom: 5%;
        left: 51%;
    }
}