*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.btn-pink {
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    position: relative;
    z-index: 1;
  }

.btn-pink::before {
    content: "";
    position: absolute;
    background-color: #1f1f1f;
    top: 0;
    left : 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    color: #fff;
  }