*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    color: inherit;
    text-decoration: none;
}

header{
    background-color: coral;
    padding: 20px;
    text-align: center;
}

nav{
    background-color: lightblue;
    padding: 20px;
}

nav a{
    margin-right: 15px;
    color: #fff;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

nav a:hover{
    background-color: #fff;
    color: red;
}


figure{
    width: 100%;
    background-color: rgb(2, 115, 130);
    margin: 20px 0;
    padding: 20px;
}

figure img{
    border-radius: 5px;
}

figure figcaption{
    color: #efefef;
    margin-top: 10px;
}

.section{
    background-color: coral;
    padding: 30px;
    margin-bottom: 30px;
}

#biography{
    display: block;
    content: "";
    clear: both;
}



.section h2{
    margin-bottom: 20px;
}

.section ul{
    list-style-position: inside;
}

.section ul li{
    margin-bottom: 10px;
}

footer{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 50px 30px;
    text-align: center;
    color: #fff;
}