@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --clr-orange: #e84949;
    --clr-black: #000;
    --clr-white: #fff;
    --clr-light-gray: #E7E7E7;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.d-flex{
    display: flex;
}

.wrapper{
    width: 100vw;
    min-height: 100vh;
    padding-top: 15rem;
    color: #fff;
    background-image: linear-gradient(196deg, #f1a9a9, #e66767);;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}


.container .chairs-div{
    /* background-color: black; */
    width: 50rem;
    height: 41rem;
    position: relative;
    
}

.container .chairs-div, .content-div{
    flex: 1;
}

.container .chairs-div img{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.container .chairs-div #img-1{
    opacity: 1;
}


.container > #color-2:checked ~ .chairs-div > img{
    font-size: 50px !important;
    width: 200px !important;
    background-color: pink !important;
}

.content-div .category{
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
    .content-div .title{
        font-size: 3.4rem;
        text-transform: capitalize;
    }

    .content-div h3{
        font-size: 1.8rem;
        margin: 2rem 0;
    }

    .content-div p{
        font-size: 1.6rem;
    }

    .content-div .radio-buttons{
        display: flex;
        gap: 1rem;
    }

    .content-div .radio-buttons input[type="radio"]{
        display: none;
    }


    .content-div .radio-buttons > label{
        display: block;
        width: 4rem;
        height: 4rem;
        background-image: url('../images/color1.jpg');
        border-radius: 0.5rem;
    }

    .content-div .radio-buttons > label.label-color-2{
        background-image: url('../images/color2.jpg');
    }

    .content-div .radio-buttons > label.label-color-3{
        background-image: url('../images/color3.jpg');
    }

    .content-div .radio-buttons > label.label-color-4{
        background-image: url('../images/color4.jpg');
    }

    .content-div .radio-buttons > label.label-color-5{
        background-image: url('../images/color5.jpg');
    }

    .content-div .radio-buttons > label.label-color-6{
        background-image: url('../images/color6.jpg');
    }

    .content-div button{
        font-family: inherit;
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        padding: 1.5rem 5rem;
        border: none;
        border-radius: 0.5rem;
        text-transform: capitalize;

    }